{{ $numOfParams := len .Params }}
{{ if and (ge $numOfParams 2) (le $numOfParams 4) }}
    <!-- Check if the Parameter is positional or named
         which can handle both -->
    {{ if .IsNamedParams }}
        {{ $.Scratch.Set "path" (.Get "path") }}
        {{ $.Scratch.Set "file" (.Get "file") }}
        {{ $.Scratch.Set "alt"  (.Get "alt") }}
        {{ $.Scratch.Set "type" (.Get "type") }}
    {{ else }}
        {{ if ge $numOfParams 2 }}
           {{ $.Scratch.Set "file" (.Get 0) }}
           {{ $.Scratch.Set "alt"  (.Get 1) }}
           {{ if .Get 2 }}
             {{ $.Scratch.Set "type" (.Get 2) }}
           {{ else }}
             {{ $.Scratch.Set "type" "center" }}
           {{ end }}
        {{ else if ge $numOfParams 3 }}
          {{ $.Scratch.Set "path" (.Get 0) }}
          {{ $.Scratch.Set "file" (.Get 1) }}
          {{ $.Scratch.Set "alt"  (.Get 2) }}
          {{ if .Get 3 }}
             {{ $.Scratch.Set "type" (.Get 3) }}
          {{ else }}
             {{ $.Scratch.Set "type" "center" }}
           {{ end }}
        {{ end }}

        {{ if not ($.Scratch.Get "path") }}
          {{ $.Scratch.Set "path" "/pics/" }}
        {{ end }}

    {{ end }}

    {{ if eq ($.Scratch.Get "path") "date" }}
        {{ $.Scratch.Add "path" (.Page.Date.Format "2006/01") }}
    {{ end }}

    {{ $file := $.Scratch.Get "file" }}
    {{ $type := $.Scratch.Get "type" }}
    {{ $alt  := $.Scratch.Get "alt" }}
    {{ $path := $.Scratch.Get "path" }}


    {{ if eq $type "left" }}
        <img class="left" src="{{ $path }}/{{ $file }}" alt="{{ $alt }}" />
    {{ else if eq $type "right" }}
        <img class="right" src="{{ $path }}/{{ $file }}" alt="{{ $alt }}" />
    {{ else }}
        <img class="center"  src="{{ $path }}/{{ $file }}" alt="{{ $alt }}" />
    {{ end }}
{{ end }}

